<div class="container mt-5">

    <div class="container">
        <h1>Pokémon Gallery</h1>
        <div class="row">
            {{#each pokemonList}}
            <div class="col-md-3">
                <div class="card mb-4 border shadow p-3 mb-5 bg-body rounded backgroundImageAdjust backgroundType_{{type}}"
                    style="width: 100%;">
                    <img src="{{image}}" class="card-img-top" alt="{{name}}">
                    <div class="card-body ">
                        <h5 class="card-title text-center bodyBackground border border-secondary-subtle rounded">
                            {{name}}</h5>
                        {{#if ../loggedUser}}
                        <div class="text-center" role="group">
                            <a href="/pokemon/{{name}}" class="btn btn-light me-3">Details</a>
                            <a href="/trainers/my-team/add/{{name}}" class="btn btn-secondary">Add to
                                team</a>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

</div>