<div class="container mt-3">
    <h1>{{gym.name}}</h1>
    <h4><b>Leader:</b> {{gym.owner.username}}</h4>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-2">
                <h5 class="gym-description">{{gym.description}}</h5>
            </div>
            <div class="col-md-4 mb-2">
                <img class=" gym-image" src="{{gym.image}}" alt="pokemon-gym">
            </div>
        </div>
    </div>
    {{#if isOwner}}
    <div class="d-flex justify-content-start">
        <a href="/gym/edit/{{gym.id}}" class="btn btn-dark btn-sm mr-2 me-3">Edit</a>
        <form action="/gym/delete/{{gym.id}}" method="POST">
            <input type="submit" value="Delete" class="btn btn-danger btn-sm">
        </form>
    </div>
    {{/if}}
</div>