<div class="container mt-3">
    <h1>{{loggedUser.username}}'s team!</h1>

    <div class="row">
        {{#each pokemonList}}
        <div class="col-md-2">
            <div class="card mb-4 border shadow p-3 bg-body rounded backgroundImageAdjust backgroundType_{{type}}"
                style="width: 100%;">
                <img src="{{image}}" class="card-img-top" alt="{{name}}">
                <div class="card-body">
                    <h5 class="card-title text-center bodyBackground border border-secondary-subtle rounded myTeamCard">
                        {{name}}
                    </h5>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <div class="col block">
                            <a href="/pokemon/{{name}}" class="btn btn-sm btn-secondary me-3">Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <div class="col text-center">
                    <form action="/trainers/my-team/delete/{{name}}" method="post">
                        <input class="btn btn-sm btn-danger" type="submit" value="Remove">
                    </form>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>